body {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  color: #1E1E1F;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  background: radial-gradient(ellipse at 0% 125%,
    #3dc248 12%,
    #bb8bc9 27%,
    #b77795 40%,
    #8dcee6 70%,
    #6fc104 85%
  );
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
  align-items: center;
}

h1 {
  font-size: 57px;
  margin: 24px 0px 16px;
}


@media (max-width: 930px) {
  body {
    background: radial-gradient(circle at 50% 120%, 
   #3dc248 12%,
    #bb8bc9 27%,
    #b77795 40%,
    #8dcee6 70%,
    #6fc104 85%
    );
  }
  h1 {
    font-size: 57px;
    margin-bottom: 4px;
    text-align: center;
  }
}